.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  caret-color: transparent;
  background-color: transparent;
  color: white;

  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2rem;
  --font-5xl: 2.5rem;
  --font-6xl: 3rem;
  --font-7xl: 4rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 32px;
  background: black;
  max-width: 80rem;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  /* background: linear-gradient(180deg, #5a54b4 0%, #000000 80%, #000000 100%); */
}

.section {
  height: 100%;
  width: 100%;
}

.section h1,
.section h2 {
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}

.sections {
  padding: 1rem;
  width: 100%;
  max-width: 80rem;
}

.section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-items: center;
  align-items: center;
}

.projects {
  padding-top: 5rem;
}

.skills {
  margin-block: 6rem;
  padding-block: 5rem;
}

.about {
  margin-block: 6rem;

  padding-block: 5rem;
  padding-inline: 1rem;
  text-align: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  text-shadow: rgba(255, 255, 255, 0.05) 0px 4px 8px,
    rgba(255, 255, 255, 0.3) 0px 8px 30px;
}

.section-header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  text-shadow: rgba(255, 255, 255, 0.05) 0px 4px 8px,
    rgba(255, 255, 255, 0.3) 0px 8px 30px;
}

.headline {
  text-align: center;
  font-size: var(--font-3xl);
  font-weight: 800;
}

.more-button {
  display: flex;
  justify-self: center;
}


@media (min-width: 768px) {
  .sections {
    padding: 2rem;
  }
  .section-header {
    align-items: start;
  }

  .headline {
    font-size: var(--font-5xl);
    font-weight: 800;
  }

}
